.phone-input-container input {
  background-color: rgb(10, 10, 10);
  outline: none;
  padding: 0 4px;
}
.phone-input-container {
  border: 1px solid rgb(32, 32, 32);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: all;
  transition-duration: 300ms;
  outline: 2px solid transparent;
}
.phone-input-container:focus-within {
  outline: 2px solid rgb(240, 240, 240);
}
