@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-child-180 .child {
    transform: rotate(180deg);
  }
  .hover-child-white:hover div {
    background-color: white;
  }
}

html::-webkit-scrollbar,
html .dashboard-sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(118, 118, 118);
}

html::-webkit-scrollbar-thumb,
html .dashboard-sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
}

html.dark::-webkit-scrollbar,
html.dark .dashboard-sidebar::-webkit-scrollbar {
  background-color: rgb(18, 18, 18);
}

html.dark::-webkit-scrollbar-thumb,
html.dark .dashboard-sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 60);
}
